<!DOCTYPE html>
<html>
<head>
  <title>PawDo -TODOアプリ-</title>
  <%= stylesheet_link_tag 'home', media: 'all'%>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <div class="top-page">
    <h1 class="logo"><%= image_tag "nikukyu1.png",:width => '70', :height => '70' %>PawDo<%= image_tag "nikukyu1.png",:width => '70', :height => '70' %></h1>
    <div class="button-wrap">
    <%= link_to 'ログイン', new_user_session_path, class: "button" %>
    <%= link_to '新規登録', new_user_registration_path, class: "button" %>
    </div>
    <div class="concept">
      <h2>PawDoについて</h2>
      <p>PawDoは、ねこの足跡デザインのTODOアプリです。</p>
      <p>ねこの足跡を辿りながら、日々の予定を管理しましょう！</p>
      <p>まずはアカウント作成をお願いします。</p>
    </div>
  </div>
</body>
</html>
