<!DOCTYPE html>
<html>
<head>
  <title>PawDo -TODOアプリ-</title>
  <%= stylesheet_link_tag 'home', media: 'all'%>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <div class="top-page">
    <h1 class="logo"><%= image_tag "nikukyu1.png",:width => '70', :height => '70' %>PawDo<%= image_tag "nikukyu1.png",:width => '70', :height => '70' %></h1>
    <div class="button-wrap">
    <%= link_to 'ログイン', new_user_session_path, class: "button" %>
    <%= link_to '新規登録', new_user_registration_path, class: "button" %>
    </div>
    <div class="concept">
      <h2>コンセプト</h2>
      <p>PawDoは、可愛らしいデザインと使いやすさを兼ね備えたTODOアプリです。</p>
      <p>忙しい日々の中でタスクを追跡し、効率的に管理するのに最適です。</p>
      <p>ねこの足跡を辿りながら、目標達成に向けて進んでいきましょう！</p>

      <h2>PawDoの特徴</h2>
        <h3>ねこの足跡デザイン</h3>
        <p>PawDoのデザインは、可愛らしいねこの足跡を使用しています。</p>
        <p>ねこの足跡で癒しと楽しさを提供し、ユーザーにポジティブな気分を与えます。</p>
        <h3>シンプルなインターフェース</h3>
        <p>PawDoは、使いやすさを重視し、ユーザーが簡単にタスクを管理できるように設計されています。</p>
        <h3>タスク管理の効率化</h3>
        <p>PawDoでは、タスクの作成、編集、削除、完了など、タスク管理を効率的に行えます。</p>
    </div>
  </div>
</body>
</html>
