<head>
  <title>予定入力フォーム</title>
<%= stylesheet_link_tag 'form', media: 'all'%>
</head>
<body>
  <h1>予定入力フォーム</h1>


  <%= form_with model: @plan, url: plans_path do |form| %>
  <div class="form-max">
    <div class="form-group">
      <label for="titleInput">予定入力:</label>
      <input type="text" id="title" name="schedule" required>
    </div>

    <div class="form-group">
      <label for="repeatTitle">予定選択入力:</label>
      <select id="title" name="repeat">
      </select>
    </div>

    <div class="form-group">
      <label for="datetimeInput">日時:</label>
      <input type="datetime-local" id="datetimeInput" name="datetime" value="<?php echo date('Y-m-d\TH:i'); ?>" required>
    </div>

    <div class="form-group">
  <label>付箋カラー:</label>
  <div class="color-options">
    <% Color.options.each do |name, value| %>
      <label>
        <%= check_box_tag 'color', value, value == 'color1' %>
        <span class="color <%= value %>"></span>
      </label>
    <% end %>
  </div>
</div>


   <div class="form-group">
  <label>通知選択:</label>
  <div class="checkbox-group">
    <% Repetition.options.each do |name, value| %>
      <label>
        <%= check_box_tag 'repetition', value %>
        <%= name %>
      </label>
    <% end %>
  </div>
</div>


   <div class="form-group">
    <label>繰り返し通知機能:</label>
      <div class="checkbox-group">
        <% Recurring.options.each do |name, value| %>
    <label>
      <%= check_box_tag 'recurring', value %>
      <%= name %>
    </label>
    <% end %>
   </div>
  </div>



   <div class="form-group">
  <label>通知方法:</label>
  <div class="notification-options">
    <% Notification.options.each do |name, value| %>
      <label>
        <%= check_box_tag 'notification', value, value.in?(['sound', 'background', 'popup']) %>
        <%= name %>
      </label>
    <% end %>
  </div>
</div>


    <div class="form-group">
      <label for="detailsTextarea">予定詳細メモ:</label>
      <textarea id="detailsTextarea" name="details"></textarea>
    </div>
    </div>

    <div class="form-group">
      <input type="submit" value="登録">
    </div>
  <% end %>
</body>