<!DOCTYPE html>
<html>
<head>
  <title>予定詳細</title>
  <%= stylesheet_link_tag 'show', media: 'all'%>
</head>
<body>
  <div class="container">
    <h1>予定詳細</h1>

    <div class="form-max">
      <div class="form-group">
        <p class="input-label">予定入力:</p>
        <p class="plan-title"><%= @plan.title %></p>
      </div>

      <div class="form-group">
        <p class="input-label">予定選択入力:</p>
        <p class="plan-title"><%= @plan.schedule_date %></p>
      </div>

      <div class="form-group">
        <p class="input-label">日時:</p>
        <p class="plan-title"><%= DateTime.parse(@plan.schedule_date).strftime("%Y-%m-%d") %> <%= DateTime.parse(@plan.schedule_time).strftime("%H:%M") %></p>
      </div>

      <div class="form-group">
        <p class="input-label">付箋カラー:</p>
        <p class="plan-title"><%= @plan.color_id %></p>
      </div>

      <div class="form-group">
  <p class="input-label">事前通知:</p>
  <p class="plan-title">
    <% if @plan.repetition_id == "none" %>
      なし
    <% else %>
      <%= @plan.repetition_id %>
    <% end %>
  </p>
</div>

<div class="form-group">
  <p class="input-label">繰り返し通知機能:</p>
  <p class="plan-title">
    <% if @plan.recurring_id == "none" %>
      なし
    <% else %>
      <%= @plan.recurring_id %>
    <% end %>
  </p>
</div>

      <div class="form-group">
        <p class="input-label">通知方法:</p>
        <p class="plan-title">
        <ul class="notification-list">
          <% @plan.notification&.split(',').each do |notification| %>
            <li><%= Notification.options.find { |option| option[1].to_s == notification }&.first %></li>
          <% end %>
        </ul>
        </p>
      </div>

      <div class="form-group">
        <p class="input-label">予定詳細メモ:</p>
        <p class="plan-title"><%= @plan.memo %></p>
      </div>
    </div>
  </div>
</body>
</html>
