<!DOCTYPE html>
<html>
<head>
<title>PawDo</title>
<%= stylesheet_link_tag 'plan', media: 'all'%>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class = "left-container">
      <%= render "side_header" %>
      <%= render "side_bar" %>
    </div>
    <div class = "right-container">
      <%= render "main_header" %>
      <%= render "month_calendar" %>
    </div>
</div>
</header>
</body>
</html>
